.main__container {
  padding: 60px 0 0 10px;
  margin: 0;
}

.main__container h1{
  font-size: 60px;
}

.main__container span{
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__contacts{
  border-top: 1px solid white;
  padding: 60px 0 0;
  margin: 30px 0 0;
}
.container__email{
  display: flex;
}
.container__team{
  display: flex;
}

.section__container--image{
  width: 75%;
  filter: drop-shadow(30px 400px 220px #776247);
}


/* 4444dd */